*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
  }
}
@keyframes glow{
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
  }
}

.backDiv{
  z-index: 0;
  background: linear-gradient(rgb(49, 93, 151) 6%, rgba(19, 102, 118, 0.58) 100%);
  height: 3000px;
  width: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}
.intro{
  z-index: 0;
  width: 60%;
  height: 25%;
  top: 5%;
  right: 15%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}
.introTexto{
z-index: 10;
width: 60%;
height: 7%;
color: #ffffff;
font-family: 'Roboto';
top: 12%;
right: 0;
margin: 0;
padding: 0;
position: absolute;
}
.introTexto h1{
  position: relative;
  right: -10%;
  
  letter-spacing: .2em;
top: 3%;
font-size: 1.5em; 
 

@media screen and (max-width: 1148px) {
  .intro{
    z-index: 0;
    width: 60%;
    height: 25%;
    top: 5%;
    right: 15%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
  }
  
  @media (max-width: 800px) {
    top: 25%;
    right: -6%;
    font-size: 2em;
  }
  @media (max-width: 900px) {
    top: 15%;
    right: -6%;
    font-size: 1.5em;
  }
  @media (max-width: 1050px) {
    top: 15%;
    right: -8%;
    font-size: 1.75em;
  }
  
 
}
.introTexto p{
  color: rgb(255, 255, 255);
  position: relative;
  line-height: 2.5em;
  width: 50%;
  letter-spacing: .1em;
  max-width: 35ch;
  right: -3%;
  top: 9%;
  
   
    @media (max-width: 800px) {
      letter-spacing: 0.05em;
      line-height: 1.5em;
      max-width: 30ch;
      top: 30%;
      font-size: 0.9em;
      right: -6%;
      }
    @media (max-width: 950px) {  
        letter-spacing: 0.05em;
        line-height: 1.75em;
        max-width: 30ch;
        top: 15%;
        font-size: 1em;
        right: -6%;
        }
        @media (max-width: 1050px) {
          
          letter-spacing: 0.05em;
          line-height: 1.75em;
          max-width: 25ch;
          top: 15%;
          font-size: 1.1em;
          right: -6%;
          }
 
  


.sombraIntro{
  z-index: -1;
  width: 60%;
  height: 25%;
  top: 5%;
  right: 7%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}

@-webkit-keyframes expand{
  0%{height:100%;width: 0}
  100%{height:25%;width: 75%}
}
@keyframes expand{
  0%{height:100%;width: 0}
  100%{height:25%;width: 75%}
}
@-webkit-keyframes expandSombra{
  0%{width: 0}
  100%{width: 75%}
}
@keyframes expandSombra{
  0%{width: 0}
  100%{width: 75%}
}

.blobAnimado{
  width: auto;
  height: auto;
  display: flex;
  align-content: center;
  justify-items: center;
  z-index: 0;
  
}
.spacer{
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layerSVG{
  background-image: url('fondoweb.svg');  
  
}

.segundo{
  z-index: 1;
  width: 75%;
  height: 25%;
  top:35%;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}


.sombraSegundo{
  z-index: 0;
  width: 70%;
  height: 25%;
  z-index: 0;
  top:37%;
  left: 2%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}
.tercero{
  z-index: 1;
  width: 75%;
  height: 25%;
  top:60%;
  right: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-animation: expand 1s;
}
.sombraTercero{
  z-index: 0;
  width: 75%;
  height: 25%;
  top:60%;
  right: 2%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}

.navBar{
  position:fixed;
 
  z-index:100;
  -webkit-animation: bajar 1s;
  top:0;
  width:100%;
}

@-webkit-keyframes bajar{
  0%{width: 0;height: 0;}
  100%{width: 100%}
}
@keyframes bajar{
  0%{width: 0;height: 0;}
  100%{width: 100%}
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.show{
  opacity: 1;
  transition: all 2s;
  filter: blur(0);
  transform: translateX(0);
}
  

.navItem{
  transition: all 0.4s ease-in-out;
  color: white;
  font-weight: 1;
}
.navItem:hover{
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

ul{
  list-style: none;
  position: absolute;
  border: none;
  left: 0px;
  right: 0px;
  top: 0px;
  width: auto;
  height: 100px;
  border-radius: 10px;
  transition: all 0.4s ease-in-out;
  opacity: 0.5;
  background: linear-gradient(rgba(23,23,75,1) 4%, rgba(20, 135, 158, 0.381) 100%);
  display: flex;
  align-items: center;
  justify-content: space-around;
}
ul:hover{
  transition: opacity 0.25s ease-in-out;
opacity: 0.9;

}
ul li {
  display: inline-block;
  position: relative;
}
ul li a{
  display:block ;
  padding: 20px 25px;
  color:#FFF;
  text-decoration: none;
  text-align: center;
  font-size: 20px;
  position: relative;
  
}

.menu {
 display: flex;
 position: relative;
 width: fit-content; 
 
}

.menu > li > a {
  transition: all 0.4s ease-in-out;
  color: white;
  
}
.menu > li > a:hover{
  transition: all 0.4s ease-in-out;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  
}
.menu ul {
  height: 0;
  left: 0;
  opacity: 0;
  top: 40px;
  position: absolute;
  transition: all .5s ease;
  background: linear-gradient( rgba(20, 135, 158, 0.381) 100%,rgb(23, 123, 141) 100%);
  width: fit-content;
  color: white;
}

.menu li:hover ul {
  top: auto;
  height: 200px;
  opacity: 1;
  transform: translateY(0);
  width: fit-content; 
}

.menu ul a {
  width: fit-content;
  color: white;
  display: block;
  padding: 5px 20px;
  
}

.menu ul a:hover{
  transition: all 0.4s ease-in-out;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}


.mainDiv h1{
  font-family:  Arial, Helvetica, sans-serif;
 

}
