*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body::-webkit-scrollbar{
  width: 0.45em;
}
body::-webkit-scrollbar-track{
  background-color: hsla(214, 51%, 39%, 0.65);
}
body::-webkit-scrollbar-thumb{
  background: hsla(214, 86%, 27%, 0.559);
}
@media (max-width: 800px) {
  html, body {
  overflow-x: hidden;
  }
}


@-webkit-keyframes glow {
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
  }
}
@keyframes glow{
  from {
    text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
  }
}

.backDiv{
  z-index: 0;
  background: linear-gradient(rgb(49, 93, 151) 6%, rgba(19, 102, 118, 0.58) 100%);
  height: 3000px;
  width: auto;
  position: relative;
  display: flex;
  overflow: hidden;
}

.introTexto{
  z-index: 10;
  width: 60%;
  height: 7%;
  color: #ffffff;
  font-family: 'Roboto';
  top: 12%;
  right: 0;
  margin: 0;
  padding: 0;
  position: absolute;
  }
  .introTexto h1{
    position: relative;
    right: -7%;
    letter-spacing: .2em;
    top: -3%;
    font-size: 1em; 
  }
  .introTexto p{
    color: rgb(255, 255, 255);
    position: relative;
    line-height: 2.5em;
    width: 50%;
    letter-spacing: .1em;
    max-width: 35ch;
    right: -3%;
    font-size: 1em;
    top: 0;
  }
  .sombraIntro{
    z-index: -1;
    width: 60%;
    height: 25%;
    top: 5%;
    right: 3%;
    position: absolute;
    display: flex;
    justify-content: center;
    
  }
  .segundoTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 40%;
    right: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .segundoTexto h1{
    position: relative;
    right: 0;
    letter-spacing: .2em;
    top: -3%;
    font-size:1.65em;
  }
  .segundoTexto p{
    color: rgb(255, 255, 255);
    position: relative;
    line-height: 2.5em;
    width: 50%;
    letter-spacing: .1em;
    max-width: 35ch;
    right: 0;
    font-size: 1.2em;
    top: 0;
  }
  .tercerTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 60%;
    right: 10%;
    margin: 0;
    padding: 0;
    position: absolute;
  }
  .tercerTexto h1{
    position: relative;
    right: -30%;
    letter-spacing: .2em;
    top: 43%;
    font-size:2.5em;
    color: white;
  }
  .tercerTexto p{
    color: rgb(255, 255, 255);
    position: relative;
    line-height: 2.5em;
    width: 50%;
    letter-spacing: .1em;
    max-width: 35ch;
    right: -25%;
    font-size: 1.1em;
    top: 45%;
  }
  @media screen and (max-width: 5120px) {
    .sombraIntro{
      z-index: -1;
      width: 50%;
      height: 20%;
      top: 8%;
      right: 10%;
      position: absolute;
      display: flex;
      justify-content: center;
      
    }
    .introTexto{
      z-index: 10;
      width: 60%;
      height: 7%;
      color: #ffffff;
      font-family: 'Roboto';
      top: 12%;
      right: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      }
      .introTexto h1{
        position: relative;
        right: -25%;
        letter-spacing: .2em;
        top: -15%;
        font-size: 1.75em;
      }
      .introTexto p{
        color: rgb(255, 255, 255);
        position: relative;
        line-height: 1.75em;
        width: 50%;
        letter-spacing: .1em;
        max-width: 28ch;
        right: -23%;
        top: -5%;
        font-size: 1.45em;
      }
      .segundoTexto h1{
        position: relative;
        right: -15%;
        letter-spacing: .2em;
        top: -3%;
        font-size:1.65em;
      }
      .segundoTexto p{
        color: rgb(255, 255, 255);
        position: relative;
        line-height: 2.5em;
        width: 50%;
        letter-spacing: .1em;
        max-width: 35ch;
        right: -15%;
        font-size: 1.2em;
        top: 0;
      }
      .tercerTexto h1{
        position: relative;
        right: -42%;
        letter-spacing: .2em;
        top: 43%;
        font-size:2.5em;
        color: white;
      }
      .tercerTexto p{
        color: rgb(255, 255, 255);
        position: relative;
        line-height: 2.5em;
        width: 50%;
        letter-spacing: .1em;
        max-width: 35ch;
        right: -40%;
        font-size: 1.1em;
        top: 45%;
      }
  }
  @media screen and (max-width: 3840px) {
    .sombraIntro{
      z-index: -1;
      width: 50%;
      height: 20%;
      top: 8%;
      right: 10%;
      position: absolute;
      display: flex;
      justify-content: center;
      
    }
    .introTexto{
      z-index: 10;
      width: 60%;
      height: 7%;
      color: #ffffff;
      font-family: 'Roboto';
      top: 12%;
      right: 0;
      margin: 0;
      padding: 0;
      position: absolute;
      }
      .introTexto h1{
        position: relative;
        right: -22%;
        letter-spacing: .2em;
        top: -15%;
        font-size: 1.75em; 
      }
      .introTexto p{
        color: rgb(255, 255, 255);
        position: relative;
        line-height: 1.75em;
        width: 50%;
        letter-spacing: .1em;
        max-width: 28ch;
        right: -21%;
        top: -5%;
        font-size: 1.45em;
      }
  }
  
@media screen and (max-width: 2560px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -15%;
      letter-spacing: .2em;
      top: -15%;
      font-size: 2em; 
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -13%;
      top: -5%;
      font-size: 1.5em;
    }
    .segundoTexto h1{
      position: relative;
      right: -5%;
      letter-spacing: .2em;
      top: -3%;
      font-size:2em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -3%;
      font-size: 1.35em;
      top: 0;
    }
    .tercerTexto h1{
      position: relative;
      right: -35%;
      letter-spacing: .2em;
      top: 43%;
      font-size:2.5em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -32%;
      font-size: 1.1em;
      top: 45%;
    }
}

@media screen and (max-width: 1895px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -12%;
      letter-spacing: .2em;
      top: -15%;
      font-size: 2.5em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -10%;
      top: -5%;
      font-size: 1.45em;
    }
}

@media screen and (max-width: 1684px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -10%;
      letter-spacing: .2em;
      top: -10%;
      font-size: 2.5em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -10%;
      top: 0;
      font-size: 1.4em;
    }
}

@media screen and (max-width: 1579px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: -5%;
      font-size: 2.25em; 
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -7%;
      top: 5%;
      font-size: 1.35em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 5%;
      font-size:1.45em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 45%;
      letter-spacing: .1em;
      max-width: 33ch;
      right: 0;
      font-size: 1.1em;
      top: 0;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 43%;
      font-size:2.5em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -25%;
      font-size: 1.1em;
      top: 45%;
    }
}
@media screen and (max-width: 315px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 65%;
      font-size: 0.4em; 
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 20ch;
      right: -4%;
      top: 60%;
      font-size: 0.15em;
    }
}

@media screen and (max-width: 1148px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 9%;
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -3%;
      top: 3%;
      font-size: 0.9em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 25%;
      font-size:1.2em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.9em;
      top: 25%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 55%;
      font-size:2.25em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -25%;
      font-size: 1em;
      top: 50%;
    }
}

@media screen and (max-width: 1010px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -10%;
      letter-spacing: .2em;
      top: 23%;
      font-size: 1.35em;
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -3%;
      top: 18%;
      font-size: 0.75em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 35%;
      font-size:1.1em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.8em;
      top: 30%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 70%;
      font-size:2em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -25%;
      font-size: 0.85em;
      top: 65%;
    }
}
@media screen and (max-width: 842px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 30%;
      font-size: 1.25em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -4%;
      top: 25%;
      font-size: 0.75em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 45%;
      font-size:0.9em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.6em;
      top: 50%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 80%;
      font-size:1.5em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 31ch;
      right: -25%;
      font-size: 0.75em;
      top: 75%;
    }
}
@media screen and (max-width: 722px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -7%;
      letter-spacing: .2em;
      top: 35%;
      font-size: 1.1em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -4%;
      top: 30%;
      font-size: 0.65em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 55%;
      font-size:0.8em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.55em;
      top: 50%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 90%;
      font-size:1.5em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: -25%;
      font-size: 0.65em;
      top: 80%;
    }
}
@media screen and (max-width: 631px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 45%;
      font-size: 0.9em; 
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 26ch;
      right: -4%;
      top: 38%;
      font-size: 0.5em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 65%;
      font-size:0.65em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.45em;
      top: 60%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 100%;
      font-size:1.1em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 31ch;
      right: -25%;
      font-size: 0.5em;
      top: 90%;
    }
}
@media screen and (max-width: 505px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 50%;
      font-size: 0.65em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 28ch;
      right: -4%;
      top: 45%;
      font-size: 0.45em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 75%;
      font-size:0.6em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.35em;
      top: 70%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 110%;
      font-size:0.85em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 31ch;
      right: -25%;
      font-size: 0.35em;
      top: 110%;
    }
}
@media screen and (max-width: 421px) {
  .introTexto{
    z-index: 10;
    width: 60%;
    height: 7%;
    color: #ffffff;
    font-family: 'Roboto';
    top: 12%;
    right: 0;
    margin: 0;
    padding: 0;
    position: absolute;
    }
    .introTexto h1{
      position: relative;
      right: -8%;
      letter-spacing: .2em;
      top: 60%;
      font-size: 0.5em; 
    
    }
    .introTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 1.75em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 27ch;
      right: -4%;
      top: 55%;
      font-size: 0.275em;
    }
    .segundoTexto h1{
      position: relative;
      right: 0;
      letter-spacing: .2em;
      top: 87%;
      font-size:0.35em;
    }
    .segundoTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 35ch;
      right: 0;
      font-size: 0.15em;
      top: 80%;
    }
    .tercerTexto h1{
      position: relative;
      right: -30%;
      letter-spacing: .2em;
      top: 120%;
      font-size:0.75em;
      color: white;
    }
    .tercerTexto p{
      color: rgb(255, 255, 255);
      position: relative;
      line-height: 2.5em;
      width: 50%;
      letter-spacing: .1em;
      max-width: 31ch;
      right: -25%;
      font-size: 0.2em;
      top: 115%;
    }
}

.intro{
  z-index: 0;
  width: 75%;
  height: 25%;
  top: 5%;
  right: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
}


@-webkit-keyframes expand{
  0%{height:100%;width: 0}
  100%{height:25%;width: 75%}
}
@keyframes expand{
  0%{height:100%;width: 0}
  100%{height:25%;width: 75%}
}
@-webkit-keyframes expandSombra{
  0%{width: 0}
  100%{width: 75%}
}
@keyframes expandSombra{
  0%{width: 0}
  100%{width: 75%}
}

.blobAnimado{
  width: auto;
  height: auto;
  display: flex;
  align-content: center;
  justify-items: center;
  z-index: 0;
}

.spacer{
  aspect-ratio: 960/540;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.layerSVG{
  background-image: url('multimedia/fondoweb.svg'); 
}

.segundo{
  z-index: 1;
  width: 75%;
  height: 25%;
  top:35%;
  left: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}


.sombraSegundo{
  z-index: 0;
  width: 70%;
  height: 25%;
  z-index: 0;
  top:37%;
  left: 2%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}
.tercero{
  z-index: 1;
  width: 75%;
  height: 25%;
  top:60%;
  right: 5%;
  position: absolute;
  display: flex;
  justify-content: center;
  -webkit-animation: expand 1s;
}
.sombraTercero{
  z-index: 0;
  width: 75%;
  height: 25%;
  top:60%;
  right: 2%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}

.navBar{
  position:fixed;
 
  z-index:100;
  -webkit-animation: bajar 1s;
  top:0;
  width:100%;
}

@-webkit-keyframes bajar{
  0%{width: 0;height: 0;}
  100%{width: 100%}
}
@keyframes bajar{
  0%{width: 0;height: 0;}
  100%{width: 100%}
}
.hidden{
  opacity: 0;
  filter: blur(5px);
  transform: translateX(-100%);
  transition: all 2s;
}
.hidNav{
  opacity: 0;
  filter: blur(5px);
  transform: translateY(-100%);
  transition: all 2s;
}
.showNav{
  opacity: 1;
  transition: all 2s;
  filter: blur(0);
  transform: translateY(0);
}
.show{
  opacity: 1;
  transition: all 2s;
  filter: blur(0);
  transform: translateX(0);
}
  

.navItem{
  transition: all 0.4s ease-in-out;
  color: white;
  font-weight: 1;

}
.navItem:hover{
  transition: all 0.4s ease-in-out;
  font-weight: 500;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}

ul:hover{
  transition: opacity 0.25s ease-in-out;
opacity: 0.9;
}

.menu > li > a:hover{
  transition: all 0.4s ease-in-out;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
ul li {
  display: inline-block;
  position: relative;
}

@media screen and (max-width:600px){
  ul{
    list-style: none;
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    height: 50%;
    width: auto;
    border-radius: 0.5em;
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
    background: linear-gradient(rgba(23,23,75,1) 4%, rgba(20, 135, 158, 0.381) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul li a{
    display:block ;
    padding: 2em 2em;
    color:#FFF;
    text-decoration: none;
    text-align: center;
    font-size: 1em;
    position: relative;
  }
  ul li a:hover{
    font-size: 2em;
  }
}
@media screen and (min-width:600px){
  ul{
    list-style: none;
    position: absolute;
    border: none;
    left: 0;
    right: 0;
    top: 0;
    height:50%;
    width: 100vw;
    border-radius: 1em;
    transition: all 0.4s ease-in-out;
    opacity: 0.5;
    background: linear-gradient(rgba(23,23,75,1) 4%, rgba(20, 135, 158, 0.381) 100%);
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  ul li a{
    display:block ;
    padding: 2em 2em;
    color:#FFF;
    text-decoration: none;
    text-align: center;
    font-size: 3.5vh;
    position: relative;
  }
  ul li a:hover{
    font-size: 4vh;
  }
}

@-webkit-keyframes glow {
from {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
}

to {
  text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
}
}
@keyframes glow{
from {
  text-shadow: 0 0 10px #ffffff, 0 0 20px #fff, 0 0 30px #28d8e8, 0 0 40px #28d8e8, 0 0 50px #28d8e8, 0 0 60px #28d8e8, 0 0 70px #28d8e8;
}

to {
  text-shadow: 0 0 20px #fff, 0 0 30px #3719ae, 0 0 40px #3719ae, 0 0 50px #3719ae, 0 0 60px #3719ae, 0 0 70px #3719ae, 0 0 80px #3719ae;
}
}

.menu {
 display: flex;
 position: relative;
 width: fit-content; 
 
}

.menu > li > a {
  transition: all 0.4s ease-in-out;
  color: white;
  
}
.menu > li > a:hover{
  transition: all 0.4s ease-in-out;
  
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
  
}
.menu ul {
  height: 0;
  left: 0;
  opacity: 0;
  top: 40em;
  position: absolute;
  transition: all .5s ease;
  background: linear-gradient( rgba(20, 135, 158, 0.381) 100%,rgb(23, 123, 141) 100%);
  width: fit-content;
  color: white;
}

.menu li:hover ul {
  top: auto;
  height: 15em;
  opacity: 1;
  transform: translateY(0);
  width: fit-content; 
}

.menu ul a {
  width: fit-content;
  color: white;
  display: block;
  padding: 0.5em 1em;
}

.menu ul a:hover{
  transition: all 0.4s ease-in-out;
  -webkit-animation: glow 1s ease-in-out infinite alternate;
  -moz-animation: glow 1s ease-in-out infinite alternate;
  animation: glow 1s ease-in-out infinite alternate;
}
